# Ignore node_modules
node_modules
build

# ignore the .env file
.env
# package-lock.json の行を削除または次のようにコメントアウト
# package-lock.json

# Ignore the public/uploads folder
uploads/*

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
